#logo {
    font-family: 'Euphoria Script', cursive;
}

#rotateDemo {
    -moz-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
    height:100%;
}

#scaleDemo {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
}

#skewDemo {
    -moz-transform:skew(10deg);
    -webkit-transform:skew(10deg);
    -ms-transform:skew(10deg);
    transform:skew(10deg);
}

#rotateTransitionDemo div:hover, #rotateTransitionDemo div:active {
    transition:all 2s;
    -o-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:rotate(5deg);
}

#scaleTransitionDemo div:hover, #scaleTransitionDemo div:active {
    transition:all 2s;
    -o-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
}

#skewTransitionDemo div:hover, #skewTransitionDemo div:active {
    transition:all 2s;
    -o-transform:skew(10deg);
    -moz-transform:skew(10deg);
    -webkit-transform:skew(10deg);
    -ms-transform:skew(10deg);
    transform:skew(10deg);
}

#button1 {
    -moz-box-shadow:inset 0 1px 0 0 #fed897;
	-webkit-box-shadow:inset 0 1 0 0 #fed897;
	box-shadow:inset 0 1px 0 0 #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	background-color:#f6b33d;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #cd8a15;
}

#button1 :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	background-color:#d29105;
}

#button2 {
	-moz-box-shadow:inset 0 1px 0 0 #fce2c1;
	-webkit-box-shadow:inset 0 1px 0 0 #fce2c1;
	box-shadow:inset 0 1px 0 0 #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #cc9f52;
}

#button2 :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	background-color:#fb9e25;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
}

#button3 {
    -moz-box-shadow:inset 0 1px 0 0 #f9eca0;
	-webkit-box-shadow:inset 0 1px 0 0 #f9eca0;
	box-shadow:inset 0 1px 0 0 #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	background-color:#f0c911;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0 #ded17c;
}

#button3 :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	background-color:#f2ab1e;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
}